
header{
    display: flex;
}
nav{
    display: none;
    @media (min-width:$breakpoint-mobile){
        display: flex;
    }
}
.bar{
    display: inline-block;
    @media (min-width:$breakpoint-mobile){
        display: none;
    }
}
