h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    // font-size: 55px;
    // line-height: 70px;
    // : 10px;

}

.btn{
    background-color: $bg-primary;
    padding: 1%;
    border-radius: 6px;
}
.heroe{
    background-image: url('../assets/wireframe.svg');
    height: 40vh;
    max-width: 80vw;
}